/* SERVICE/////////////////////// */

body{
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

.container-wide{
    max-width: 1900px;
    margin: 0 auto;
}

.container-short{
    max-width: 1170px;
    margin:0 auto;
    padding: 50px 0 72px 0;
}

.bg-color{
    background-color: #F2F2F2;
}

a{
    text-decoration: none;
}


.w-100{
    width: 100%;
}

/* HEADER-NAVIGATION////////////////////// */

.navigation{
    display: flex;
    justify-content: space-between;
    max-width: 1900px;
    height: 70px;
    background-color: #313131;
    align-items: center;
    margin: 0 auto;;
}

.to-section{
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    background-color: #313131;
}

.link-to-section{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;    
    line-height: 1.33;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 10px;
    transition: color 0.3s linear;
}

.link-to-section:hover{
    color: #14B9D5;
}


.menu{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    width: 27px;
    margin: 21px 27px;
}

.logo-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.36;
    color: #ffffff;
    transition: color 0.3s linear;
}

.logo:hover .logo-name{
    color: #14B9D5;
}

.container-wide a{
    text-decoration: none;
}

.menu-link{
    font-family: 'Open Sans', sans-serif;
    margin-left: 35px;
    font-size: 15px;    
    line-height: 1.33;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    transition: color 0.2s linear;
}

.menu-link:hover{
    color: #14B9D5;
}

.search-btn{
    border: none;
    background-color: transparent;
    padding: 25px 27px;
    background-color: #000000;
}
.search-btn:hover{
    cursor: pointer;
}

.search-img{
    width: 17px;
    height: 17px;
}

/* HEADER INTRO////////////////////// */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1900px;
    height: 369px;
    background: #000000 url("../images/background-1.jpeg");
    background-position: bottom;
    background-attachment: fixed;
}

.intro-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.37;
    color: #ffffff;
    margin-top: 60px;
    text-transform: uppercase;
}

.intro-btn{
    margin-top: 60px;
}

.intro-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.39;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
}

.subs{
    margin-right: 10px;
    background-color: #89CA62;
    padding: 15px 20px;
}

.best{
    margin-left: 10px;
    background-color: #14B9D5;
    padding: 15px 31px;
}


/* MAIN 1/////////////////// */

.page-title{
    margin: 0 0 50px 0;
    text-align: center;   
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.37;  
    text-transform: uppercase;
    color: #18B4CF;
}

.contant{
    display: flex;
}

.collumn{
    width: calc(100% / 3);
    padding: 0 15px;
}

#popular-posts:hover{
    cursor: pointer;
}

.contant-block{
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
    transition: transform 0.3s linear ;
}

.photo-caption{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
    color: #353A3D;
    text-align: center;
    padding: 20px 0;
}

.contant-block:hover{
    transform: scale(1.03);
}

/* MAIN 2///////////////// */

.page-magazine{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background: #000000 url("../images/background-2.jpeg");
    background-position: center;
    background-attachment: fixed;
    height: 588px;
    width: 100%;
    padding: 4% 25% 5% 25%;
    column-gap: 50px;
    align-items: center;
}

.popular-clients{
    grid-column: 1/5 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 1.32;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

.company-logo{
    transition: transform 0.4s linear;
}

.company-logo:hover{
    transform: scale(1.2);
}

/* MAIN-3///////////////// */


.toprate-place{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.top{
    grid-column: 1/8;
    padding-top: 50px;
}

/* MAIN 4////////////////// */

.news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 42px;
    column-gap: 35px;
    justify-content: space-between;
}

.grid-top-left{
    grid-column: 1/4;
}

.grid-left{
    grid-column: 1/3;
    padding-right: 12px;
}

.grid-right{
    grid-column: 3/5;
    padding-left: 12px;
}

.grid-bottom-right{
    grid-column: 2/5;
}

.news-small-block{
    display: grid;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    grid-template-columns: 58% 42%;
    text-align: right;
}

.news-big-block{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: right;
}

.news-text{
    background-color: #fff;
}

.photo-caption--news{
    text-align: right;
}

.news-text--small{
    padding: 21px 24px 41px 0;
}

.news-text--big{
    padding: 0 13px 1px 13px;
}

.news-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #5B6469;
    vertical-align: middle;
    text-align: right;
}

.contant-block-grid{
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.news-big-block,
.news-small-block,
.contant-block-grid{
    transition: transform 0.3s ease;
}

.news-big-block:hover,
.news-small-block:hover,
.contant-block-grid:hover{
    transform: scale(.96);
}

/* FOOTER//////////// */

.footer{
    max-width: 1170px;
    margin: 0 auto;
}

.footer-color{
    background-color: #000000;
}
.footbar{
    display: grid;
    grid-template-columns: 1fr 20%;
}

.logo-footer-img{
    justify-self: right;
    align-self: center;
    width: 105px;
}

.footer-text{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding: 29px 0 30px 0;
    align-self: center;
    font-size: 13px;
    line-height: 1;

}

.footer-link{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s linear;
}

.footer-link:hover{
    color: #14B9D5;
}

.go-top{
    border: none;
}